@import url('https://fonts.googleapis.com/css?family=Lato:thin,extra-light,light,100,200,300,400,500,600,700,800');

// Fonts
$lato: 'Lato', sans-serif;
$gillSans: 'Gill Sans', sans-serif;

// Colors
$main: #ec5f94;
$mainDarker: #a24167;

// Padding
$desktopPadding: 0 3rem;
$phonePadding: 0 1rem;

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $gillSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $main;
}

.App {
  text-align: center;
}

// Navbar
nav {
  background-color: $main;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

// COUNTRIES PAGE

// Sumary
.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  background: $mainDarker;
  color: white;
}

.summary-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// Search Div
.searchDiv {
  display: flex;
  background: $main;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

h1 {
  font-size: 20px;
}

// Countries List
.countriesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

// Country Item
.countryItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 9rem;
  background: $main;
  color: white;
  width: 50%;
}

.mapIcon {
  color: $mainDarker;
  align-self: center;
 }

.countryName {
  margin-bottom: -1rem;
}

.countryInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1rem;
}

.countryItem:nth-child(4n + 2),
.countryItem:nth-child(4n + 3) {
  background: $mainDarker;
  .mapIcon {
    color: $main;
   }
}

// MEDIA QUERIES
@media (max-width: 768px) {
  nav {
    padding: $phonePadding;
  }

  .searchDiv {
    padding: $phonePadding;
  }
}

@media (min-width: 768px) {
  nav {
    padding: $desktopPadding;
  }

  .searchDiv {
    padding: $desktopPadding;
  }
}
