@import url('https://fonts.googleapis.com/css?family=Lato:thin,extra-light,light,100,200,300,400,500,600,700,800');

// Fonts
$lato: 'Lato', sans-serif;
$gillSans: 'Gill Sans', sans-serif;

// Colors
$main: #ec5f94;
$mainDarker: #a24167;

// Padding
$desktopPadding: 0 3rem;
$phonePadding: 0 1rem;

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $gillSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

nav {
  background-color: $main;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  nav {
    padding: $phonePadding;
  }
}

@media (min-width: 768px) {
  nav {
    padding: $desktopPadding;
  }
}
